<div id=sign_in_wrap>

  <h1>Event Crafting</h1>
  <h3>plan collaboratively with your guests</h3>

  <a href="/sign_in"><div id="sign_in_button">Sign In with Twitter</div></a>

  <p><%= link_to "Or browse events ...", events_path %></p>

</div>