<h1>Upcoming Events</h1>

<div id="events_wrapper">

  <% @events.each do |event| %>

    <div class="event_wrapper">
      <%= link_to event.title, event %><br>
      <%= event.start.strftime("%A, %B %-d at %-l:%M%p") %>
    </div>
    
  <% end %>

</div>