.nested {
  padding-left: 2em;
}

.hidden {
  display: none;
}

.event_comment {
  margin: 32px 0 32px 0;
}

.event_comment textarea{
  width: 100%;
  resize: none;
}

.comment_author {
  color: #999999;
  margin-top: 32px;
}