body.landing {
  background: black url('landing_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sign_in_wrap {
/*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5d5d5), to(#eeeeee)); 
  background: -webkit-linear-gradient(top, #eeeeee, #d5d5d5); 
  background: -moz-linear-gradient(top, #eeeeee, #d5d5d5); 
  background: -ms-linear-gradient(top, #eeeeee, #d5d5d5); 
  background: -o-linear-gradient(top, #eeeeee, #d5d5d5); 
*/
  text-align: center;
  padding: 16px;
  width: 500px;
  border-radius: 16px;
  position: absolute;
  top: 15%;
  left: 25%;
  margin-left: -200px
}

#sign_in_wrap h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
  color: #eeeeee;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 4em;
  text-shadow: 0 2px 6px black;
  }

#sign_in_wrap h3 {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #eeeeee;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.5em;
  text-shadow: 0 2px 6px black;
}

#sign_in_wrap p {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #eeeeee;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  text-shadow: 0 2px 6px black;
}

#sign_in_wrap a, #sign_in_wrap a:visited, #sign_in_wrap a:hover {
  color: white;
  text-decoration: none;
}

#sign_in_button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3689c4), to(#4dabe3)); 
  background: -webkit-linear-gradient(top, #4dabe3, #3689c4); 
  background: -moz-linear-gradient(top, #4dabe3, #3689c4); 
  background: -ms-linear-gradient(top, #4dabe3, #3689c4); 
  background: -o-linear-gradient(top, #4dabe3, #3689c4);
  width: 300px;
  margin: 48px auto 32px auto;
  padding: 16px;
  outline: none;
  border: 1px solid #245C9F;
  border-radius: 8px;
}

#sign_in_button:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#245C9F), to(#4599cD)); 
  background: -webkit-linear-gradient(top, #4599cD, #245C9F); 
  background: -moz-linear-gradient(top, #4599cD, #245C9F); 
  background: -ms-linear-gradient(top, #4599cD, #245C9F); 
  background: -o-linear-gradient(top, #4599cD, #245C9F);
}